*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100%;
    background-color: #afd3e7;
}
.header{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #127998;
    color: white;
    padding: 10px;
}
.logo{
    height: 200px;
    background-image: url(/C2-N2-W4/images/logo.svg);
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 10px;
}
.texts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: flex-end;
    position: absolute;
    top: 40px;
    right: 100px;
}
.text1{
margin-right: 40px;

}
.text3{
    margin-left: 40px;
}
.text4{
    margin-left: 40px;
}

.rectangle{
    width: 100%;
   margin-top: 40px;
   margin-left: 20px;
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 60px 60px 60px 60px;
    gap: 30px;
     justify-content: center; 

}

.rectp3{
   
    
    grid-area: 2/1/3/3;
}
.rectp4{
    
    
    grid-area: 3/1/4/3;
}
.rectp5{
    
    
    grid-area: 4/1/5/3;
}
.tx{
    opacity: 0.5;
    margin-left: 5px;
    margin-top: -19px;

}
    
.button {
    width: 172px;
    height: 40px;
    background-color: #3B7BCF;
    border-radius: 20%;
     margin-left: 33px;  
    transition-duration: 0.5s;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-top: 20px;
   justify-content: center;
    
}
.button:hover{
    box-shadow: 0 6px 12px #3B7BCF;
}
#send{
    margin-top: 8px;
}
.mainn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: stretch;
    padding: 5%;
}
.left__main{
    width: 35%;
    padding-left: 10%;
}
.rectangles{
    width: 86%;
    border: 1px solid #127998;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: none;
    border-right: none;
    border-top: none;
}
.right__main{
    margin-top: 20px;
    background-image:url(images/illustration-2.svg);
    background-size: 79% 100%;
    background-position: right;
    background-repeat: no-repeat;
    width: 50%;
}
.tpp{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.txt3{
    color: #127998;
}
.txt2{
    margin-bottom: 66px;
}
.title{
    font-size: 31px;
}
.txt1{
    margin-top: -64px;
    opacity: 0.5;
    margin-top: -32px;
}
.arrow{
    background: none;
    border: none;
    cursor: pointer;
}
.footer{
    background-color: #e0e3ee;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.title{
    color: white;
}
.logg{
    background-image:url(/C2-N2-W4/images/logo.svg);
    width: 200px;
  height: 100px;
    background-repeat: no-repeat;
    
    margin-top: 10px;
}
.fb{
    background-image: url(/C2-N2-W4/images/icon-facebook.svg);
    width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.insta{
    background-image: url(/C2-N2-W4/images/icon-instagram.svg);
    width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  margin-top: 10px;
}
.twit{
    background-image: url(/C2-N2-W4/images/icon-twitter.svg);
    width: 200px;
  height: 100px;
  background-repeat: no-repeat;
  margin-top: 10px;
}.social{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
   
}
@media screen and (max-width:800px){
    .mainn{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

 .rectangles{
    
    border: none;
    border-top: dashed #127998;
    margin-top: 100px;
    
    
 }
 .left__main{
    width: 100%;

 }
 .right__main{
    width: 100%;
    margin-left: 10%;
    margin-top: 10%;

 }
 .rectangle{
    justify-content: center;
    margin-top: 200px;
    margin-left: 0%;
    
 }
 .button{
    margin-left: 100px;
 }
 .texts{
    width: 80%;
    flex-wrap: nowrap;
    justify-content:flex-end;

 } 
 .logo{
    background-size: 80px 50px;
 }
 .header{
     width: 100%;
 }
}

@media screen and (max-width:300px){
.mainn{
    width: 100%;
}
.header{
    width: 100%;
}
.logo{
    display: none;

 }

 


}
@media screen and (max-width:250px){
    .mainn{
        width: 60%;
    }
    .header{
        width: 80%;
    }
    .logo{
        display: none;
     }
     
}